In [1]:
for i in range(3):
    print("Akhil")

Akhil
Akhil
Akhil

In [ ]:
a = 10
b = 20
c = 30
sum = a + b + c
print("The sum is:", sum)

In [ ]:
str1 = "Hello"
str2 = "Python"
str3 = "World"
result = str1 + " " + str2 + " " + str3
print("Concatenated string:", result)

In [ ]:
for i in range(1, 11):
    print("7 x", i, "=", 7 * i)

print()

for i in range(1, 11):
    print("9 x", i, "=", 9 * i)

In [ ]:
n = int(input("Enter a number: "))
for i in range(1, 11):
    print(n, "x", i, "=", n * i)

In [ ]:
n = int(input("Enter a number: "))
total = 0
for i in range(1, n + 1):
    total += i
print("Sum from 1 to", n, "is:", total)

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
print("Maximum is:", max(a, b, c))

In [ ]:
n = int(input("Enter a number: "))
total = 0
for i in range(1, n + 1):
    if i % 7 == 0 and i % 9 == 0:
        total += i
print("Sum of numbers divisible by 7 and 9:", total)

In [ ]:
n = int(input("Enter a number: "))
total = 0
for i in range(2, n + 1):
    is_prime = True
    for j in range(2, int(i ** 0.5) + 1):
        if i % j == 0:
            is_prime = False
            break
    if is_prime:
        total += i
print("Sum of prime numbers from 1 to", n, "is:", total)

In [ ]:
def sum_of_odds(n):
    total = 0
    for i in range(1, n + 1, 2):
        total += i
    return total

n = int(input("Enter a number: "))
print("Sum of odd numbers from 1 to", n, "is:", sum_of_odds(n))

In [ ]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def sum_of_primes(n):
    total = 0
    for i in range(2, n + 1):
        if is_prime(i):
            total += i
    return total

n = int(input("Enter a number: "))
print("Sum of prime numbers from 1 to", n, "is:", sum_of_primes(n))

In [3]:
a = 20
b = 30
c = a + b
print(a, "+" ,b, "=" ,c)

20 + 30 = 50

In [7]:
a = "Akhil"
b = "is from"
c = "Palampur"

concatenated_string = a + " " + b + " " + c

print(concatenated_string)

Akhil is from Palampur

In [11]:
for i in range(1, 11):
    print(7, "*" ,i, "=" ,i * 7)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [13]:
n = int(input("Enter the number"))
for i in range(1,11):
    print(n, "*" ,i, "=" ,i * n)

Enter the number 26

26 * 1 = 26
26 * 2 = 52
26 * 3 = 78
26 * 4 = 104
26 * 5 = 130
26 * 6 = 156
26 * 7 = 182
26 * 8 = 208
26 * 9 = 234
26 * 10 = 260

In [14]:
n = int(input("Enter a number: "))
print(sum(range(1, n + 1)))

Enter a number:  10

55

In [15]:
def multiply(a,b):
    c = a * b
    return c 
print(multiply(10,5))

50