In [1]:
# Q1
import pandas as pd

data = {
    'Tid': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Refund': ['Yes', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No'],
    'Marital Status': ['Single', 'Married', 'Single', 'Married', 'Divorced',
                       'Married', 'Divorced', 'Single', 'Married', 'Single'],
    'Taxable Income': ['125K', '100K', '70K', '120K', '95K', '60K', '220K', '85K', '75K', '90K'],
    'Cheat': ['No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes']
}
df = pd.DataFrame(data)
print("Dataset:\n", df)

Dataset:
    Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes

In [2]:
# Q2
result = df.iloc[[0,4,7,8]]
print(result)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
4    5     No       Divorced            95K   Yes
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No

In [3]:
# Q3
df.to_csv("data.csv", index = False)
df_csv = pd.read_csv("data.csv")
print(df_csv)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes

In [4]:
# Q4
names = ["Akhil", "Atul", "Anish", "Rahul"]       
departments = ["HR", "Finance", "IT", "Marketing"]

gender = ["Male", "Female", "Male", "Female"]
pass_fail = [1, 0, 1, 1]

satisfaction_levels = ["Low", "Medium", "High", "Medium"]

heights_cm = [165.5, 170.2, 158.9, 172.0]

number_of_courses = [5, 3, 4, 2] 

print("Nominal Attributes:")
print("Names:", names)
print("Departments:", departments)

print("\nBinary Attributes:")
print("Gender:", gender)
print("Pass/Fail:", pass_fail)

print("\nOrdinal Attributes:")
print("Satisfaction Levels:", satisfaction_levels)

print("\nNumeric Attributes:")
print("Heights (continuous):", heights_cm)
print("Number of Courses (discrete):", number_of_courses)

Nominal Attributes:
Names: ['Akhil', 'Atul', 'Anish', 'Rahul']
Departments: ['HR', 'Finance', 'IT', 'Marketing']

Binary Attributes:
Gender: ['Male', 'Female', 'Male', 'Female']
Pass/Fail: [1, 0, 1, 1]

Ordinal Attributes:
Satisfaction Levels: ['Low', 'Medium', 'High', 'Medium']

Numeric Attributes:
Heights (continuous): [165.5, 170.2, 158.9, 172.0]
Number of Courses (discrete): [5, 3, 4, 2]

In [9]:
# Q5
import pandas as pd

data = {
    'Tid': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Refund': ['Yes', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No'],
    'Marital Status': ['Single', 'Married', 'Single', 'Married', 'Divorced',
                       'Married', 'Divorced', 'Single', 'Married', 'Single'],
    'Taxable Income': ['125K', '100K', '70K', '120K', '95K', '60K', '220K', '85K', '75K', '90K'],
    'Cheat': ['No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes']
}

df = pd.DataFrame(data)

rows_3_to_7 = df.iloc[3:8]
print(rows_3_to_7,"\n")

rows_4_to_8_cols_2_to_4 = df.iloc[4:9, 2:5]
print(rows_4_to_8_cols_2_to_4, "\n")

cols_1_to_3 = df.iloc[:, 1:4]
print(cols_1_to_3)

   Tid Refund Marital Status Taxable Income Cheat
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes

  Marital Status Taxable Income Cheat
4       Divorced            95K   Yes
5        Married            60K    No
6       Divorced           220K    No
7         Single            85K   Yes
8        Married            75K    No

  Refund Marital Status Taxable Income
0    Yes         Single           125K
1     No        Married           100K
2     No         Single            70K
3    Yes        Married           120K
4     No       Divorced            95K
5     No        Married            60K
6    Yes       Divorced           220K
7     No         Single            85K
8     No        Married            75K
9     No         Single            90K

In [10]:
# Q6
import pandas as pd

df = pd.read_csv("iris.csv")  

print(df.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [12]:
# Q7
import pandas as pd

df = pd.read_csv("iris.csv")

df = df.drop(index=3)

df = df.drop(df.columns[3], axis=1)

print(df.head(10))

    sepal_length  sepal_width  petal_length species
0            5.1          3.5           1.4  setosa
1            4.9          3.0           1.4  setosa
2            4.7          3.2           1.3  setosa
4            5.0          3.6           1.4  setosa
5            5.4          3.9           1.7  setosa
6            4.6          3.4           1.4  setosa
7            5.0          3.4           1.5  setosa
8            4.4          2.9           1.4  setosa
9            4.9          3.1           1.5  setosa
10           5.4          3.7           1.5  setosa

In [1]:
# Q8
import pandas as pd

# Read CSV
df = pd.read_csv("employees.csv")

# a) Shape
print("Shape of DataFrame:", df.shape)

# b) Summary
print("\nSummary of DataFrame:")
print(df.info())

# c) Descriptive statistics
print("\nDescriptive Statistics:")
print(df.describe())

# d) First 5 rows and last 3 rows
print("\nFirst 5 rows:")
print(df.head())
print("\nLast 3 rows:")
print(df.tail(3))

# e) Calculations
print("\nAverage Salary:", df["Salary"].mean())
print("Total Bonus:", df["Bonus"].sum())
print("Youngest Employee Age:", df["Age"].min())
print("Highest Rating:", df["Rating"].max())

# f) Sort by Salary
print("\nSorted by Salary (Descending):")
print(df.sort_values(by="Salary", ascending=False))

# g) Performance category
def categorize_performance(rating):
    if rating >= 4.5:
        return "Excellent"
    elif rating >= 4.0:
        return "Good"
    else:
        return "Average"

df["Performance_Category"] = df["Rating"].apply(categorize_performance)
print("\nDataFrame with Performance Category:")
print(df)

# h) Missing values
print("\nMissing Values in DataFrame:")
print(df.isnull().sum())

# i) Rename column
df.rename(columns={"Employee_ID": "ID"}, inplace=True)

# j) Filters
print("\nEmployees with more than 5 years of experience:")
print(df[df["Years_of_Experience"] > 5])
print("\nEmployees in IT Department:")
print(df[df["Department"] == "IT"])

# k) Add Tax column (10% of salary)
df["Tax"] = df["Salary"] * 0.10
print("\nDataFrame with Tax column:")
print(df)

# l) Save modified DataFrame
df.to_csv("employees_modified.csv", index=False)
print("\nModified DataFrame saved as employees_modified.csv")

Shape of DataFrame: (5, 10)

Summary of DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_Experience  5 non-null      int64
 6   Joining_Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes
None

Descriptive Statistics:
       Employee_ID        Age       Salary  Years_of_Experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

First 5 rows:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

Last 3 rows:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

Average Salary: 60000.0
Total Bonus: 27500
Youngest Employee Age: 28
Highest Rating: 4.7

Sorted by Salary (Descending):
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2010-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5

DataFrame with Performance Category:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating Performance_Category
0   2020-03-15  Female   5000     4.5            Excellent
1   2017-07-19    Male   7000     4.0                 Good
2   2013-06-01    Male   6000     3.8              Average
3   2021-02-10  Female   4500     4.7            Excellent
4   2010-11-25    Male   5000     3.5              Average

Missing Values in DataFrame:
Employee_ID             0
Name                    0
Department              0
Age                     0
Salary                  0
Years_of_Experience     0
Joining_Date            0
Gender                  0
Bonus                   0
Rating                  0
Performance_Category    0
dtype: int64

Employees with more than 5 years of experience:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
4  105   Edward      Sales   38   60000                   12   2010-11-25

  Gender  Bonus  Rating Performance_Category
1   Male   7000     4.0                 Good
2   Male   6000     3.8              Average
4   Male   5000     3.5              Average

Employees in IT Department:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01

  Gender  Bonus  Rating Performance_Category
1   Male   7000     4.0                 Good
2   Male   6000     3.8              Average

DataFrame with Tax column:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance_Category     Tax
0  Female   5000     4.5            Excellent  5000.0
1    Male   7000     4.0                 Good  7000.0
2    Male   6000     3.8              Average  6500.0
3  Female   4500     4.7            Excellent  5500.0
4    Male   5000     3.5              Average  6000.0

Modified DataFrame saved as employees_modified.csv